<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>2RB {$Think.lang.PROD_SINGLE_STAGE}  {$Think.lang.Belt_2RB_REGENERATIVE_BLOWER}</title>
		<meta name="keywords" 	content="{$Think.lang.Belt_KEYWORDS}" />
		<meta name="description"	content="{$Think.lang.Belt_DESCRIPTION}" />
		<include file="../Public/css" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container pro">
			<img src="{$Think.lang.SRC_LAN}/product_banner.jpg" class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9 split">
					<h3 class="title-1">2RB {$Think.lang.PROD_SINGLE_STAGE} ▪ {$Think.lang.Belt_2RB_REGENERATIVE_BLOWER}</h3>
					<div class="row pro-list content">
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB213.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_213.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB213.pdf" target="_blank">2RB 213-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB233.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_213.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB233.pdf" target="_blank">2RB 233-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB413.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_213.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB413.pdf" target="_blank">2RB 413-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB433.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_213.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB433.pdf" target="_blank">2RB 433-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB513.pdf" target="_blank">
							<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg"/></a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB513.pdf" target="_blank">2RB 513-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB533.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB533.pdf" target="_blank">2RB 533-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB613.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB613.pdf" target="_blank">2RB 613-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB713.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB713.pdf" target="_blank">2RB 713-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB733.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB733.pdf" target="_blank">2RB 733-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB813.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB813.pdf" target="_blank">2RB 813-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB833.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB833.pdf" target="_blank">2RB 833-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB913.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB913.pdf" target="_blank">2RB 913-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB933.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_513.jpg"  />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB933.pdf" target="_blank">2RB 933-1HY99</a>
							</h4>
						</div>
						<div  id="page_text"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/prod" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>