<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>2RB {$Think.lang.PROD_DOUBLE_STAGE} {$Think.lang.Belt_2RB_REGENERATIVE_BLOWER}</title>
		<meta name="keywords" 	content="{$Think.lang.Belt_KEYWORDS}" />
		<meta name="description"	content="{$Think.lang.Belt_DESCRIPTION}" />
		<include file="../Public/css" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container pro">
			<img src="{$Think.lang.SRC_LAN}/product_banner.jpg" class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9 split">
					<h3 class="title-1">2RB {$Think.lang.PROD_DOUBLE_STAGE} ▪ {$Think.lang.Belt_2RB_REGENERATIVE_BLOWER}</h3>
					<div class="row pro-list content">
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB223.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_223.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB223.pdf" target="_blank">2RB 223-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB423.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_423.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB423.pdf" target="_blank">2RB 423-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB523.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_523.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB523.pdf" target="_blank">2RB 523-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB723.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_523.jpg"/>
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB723.pdf" target="_blank">2RB 723-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB743.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_743.jpg"  />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB743.pdf" target="_blank">2RB 743-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB823.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_823.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB823.pdf" target="_blank">2RB 823-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB923.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_923.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB923.pdf" target="_blank">2RB 923-1HY99</a>
							</h4>
						</div>
						<div  id="mypage" class="col-md-4 pro-item" >
							<a href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB943.pdf" target="_blank">
								<img  src="{$Think.config.IMG_ROOT}/2RB_Belt_943.jpg" />
							</a>
							<h4 class="center">
							<a class="link-4" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB943.pdf" target="_blank">2RB 943-1HY99</a>
							</h4>
						</div>
						<div  id="page_text"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/prod" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>