<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.FILTER_TITLE}</title>
		<meta name="keywords"	 content="{$Think.lang.FILTER_KEYWORDS}" />
		<meta name="description" content="{$Think.lang.FILTER_DESCRIPTION}" />
		<include file="../Public/css" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container pro">
			<img src="{$Think.lang.SRC_LAN}/product_banner.jpg" class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9 split">
					<h3 class="title-1">{$Think.lang.FILTER_FOR_SIDE_CHANNEL_BLOWER}</h3>
					<div class="row pro-list content">
						<div id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 080"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/inlet_vacuum_filter_080.png"
							alt="Side channel blower inlet vacuum filter 2BX4-080" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 080"
							target="_blank">2BX4-080</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 081"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/inlet_vacuum_filter_081.png"
							alt="Side channel blower inlet vacuum filter 2BX4-081" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 081"
							target="_blank">2BX4-081</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 082"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/inlet_vacuum_filter_082.png"
							alt="Side channel blower inlet vacuum filter 2BX4-082" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 082"
							target="_blank">2BX4-082</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 083"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/inlet_vacuum_filter_083.png"
							alt="Side channel blower inlet vacuum filter 2BX4-083" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/filterContent?type=2BX4 083"
							target="_blank">2BX4-083</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/prod" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>