<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.SILENCER_TITLE}</title>
		<meta name="keywords"	 content="{$Think.lang.SILENCER_DESCRIPTION}" />
		<meta name="description" content="{$Think.lang.SILENCER_KEYWORDS}" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
		<include file="../Public/css" />
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container pro">
			<img src="{$Think.lang.SRC_LAN}/product_banner.jpg" class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9  split">
					<h3 class="title-1">{$Think.lang.SILENCER_FOR SIDE_CHANNEL_BLOWER}</h3>
					<div class="row content pro-list">
						<div id="mypage" class="col-md-4 pro-item">
							<a
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4%20011"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/Silencer.png"
							alt="Side channel blower silencer 2BX4-011" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4 011"
							target="_blank">2BX4-011</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4%20012"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/Silencer.png"
							alt="Side channel blower silencer 2BX4-012" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4 012"
							target="_blank">2BX4-012</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4%20013"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/Silencer.png"
							alt="Side channel blower silencer 2BX4-013" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4 013"
							target="_blank">2BX4-013</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4%20014"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/Silencer.png"
							alt="Side channel blower silencer 2BX4-014" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4 014"
							target="_blank">2BX4-014</a>
							</h4>
						</div>
						<div id="mypage" class="col-md-4 pro-item">
							<a
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4%20015"
								target="_blank"><img
								src="{$Think.config.IMG_ROOT}/Silencer.png"
							alt="Side channel blower silencer 2BX4-015" /></a>
							<h4 class="center">
							<a class="link-4"
								href="{$Think.config.PROD_ROOT}/getSilencerContent?type=2BX4 015"
							target="_blank">2BX4-015</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/prod" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>