<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.COVER_SUCTION_RING_BLOWER}</title>
		<meta name="keywords" 	content="{$Think.lang.PROD_COMMON_KEYWORD}" />
		<meta name="description"	content="{$Think.lang.PROD_COMMON_CONTENT}" />
		<include file="../Public/css" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container pro">
			<img src="{$Think.lang.SRC_LAN}/product_banner.jpg" class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9 split">
					<h3 class="title-1">{$Think.lang.COVER_SUCTION_RING_BLOWER}</h3>
					<div class="content">
						<p class="text-3">{$Think.lang.SUCTION_DSC}</p>
						<h6>{$Think.lang.SUCTION_APPLICATION}</h6>
						<div class="row pro-list">
							<div class="col-md-4 pro-item">
								<img src="{$Think.config.IMG_ROOT}/home9.png"/>
								<h4 class="center link-4">{$Think.lang.SUCTION_INDUSTRIAL_VACUUM_CLEANER}</h4>
							</div>
							<div class="col-md-4 pro-item">
								<img src="{$Think.config.IMG_ROOT}/home8.png" />
								<h4 class="center link-4">{$Think.lang.SUCTION_AUTOMATIC_HOPPER_LOADER}</h4>
							</div>
							<div class="col-md-4 pro-item">
								<img src="{$Think.config.IMG_ROOT}/home10.png" />
								<h4 class="center link-4">{$Think.lang.SUCTION_DENTAL_SUCTION}</h4>
							</div>
						</div>
						<h6 class="title-1">{$Think.lang.SUCTION_TECHNICAL_DATA}</h6>
						<div class="row pro-list">
							<div  id="mypage" class="col-md-4 pro-item">
								<a href="{$Think.config.PROD_ROOT}/getSuctionList?series=210" target="_blank">
									<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 210 Cover Suction Ring Blower"/>
								</a>
								<h4 class="center">
								<a class="link-4" href="{$Think.config.PROD_ROOT}/getSuctionList?series=210" target="_blank">2RB210 (B)</a>
								</h4>
							</div>
							<div  id="mypage" class="col-md-4 pro-item">
								<a href="{$Think.config.PROD_ROOT}/getSuctionList?series=410" target="_blank">
									<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 410 Cover Suction Ring Blower"/>
								</a>
								<h4 class="center">
								<a class="link-4" href="{$Think.config.PROD_ROOT}/getSuctionList?series=410" target="_blank">2RB410 (B)</a>
								</h4>
							</div>
							<div  id="mypage" class="col-md-4 pro-item">
								<a href="{$Think.config.PROD_ROOT}/getSuctionList?series=510" target="_blank">
									<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 510 Cover Suction Ring Blower"/>
								</a>
								<h4 class="center">
								<a class="link-4" href="{$Think.config.PROD_ROOT}/getSuctionList?series=510" target="_blank">2RB510 (B)</a>
								</h4>
							</div>
							<div  id="mypage" class="col-md-4 pro-item">
								<a href="{$Think.config.PROD_ROOT}/getSuctionList?series=710" target="_blank">
									<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 710 Cover Suction Ring Blower"/>
								</a>
								<h4 class="center">
								<a class="link-4" href="{$Think.config.PROD_ROOT}/getSuctionList?series=710" target="_blank">2RB710 (B)</a>
								</h4>
							</div>
							<div  id="mypage" class="col-md-4 pro-item">
								<a href="{$Think.config.PROD_ROOT}/getSuctionList?series=810" target="_blank">
									<img  src="{$Think.config.IMG_ROOT}/B_series.jpg"  alt="2RB 810 Cover Suction Ring Blower"/>
								</a>
								<h4 class="center">
								<a class="link-4" href="{$Think.config.PROD_ROOT}/getSuctionList?series=810" target="_blank">2RB810 (B)</a>
								</h4>
							</div>
							<div  id="page_text"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/prod" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>