<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.APPLICATION_TITLE}</title>
		<meta name="keywords"	content="{$Think.lang.APPLICATION_KEYWORDS}" />
		<meta name="description"	content="{$Think.lang.APPLICATION_DESCRIPTION}" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
		<include file="../Public/css" />
	</head>
	<include file="../Public/header" />
	<!-- 应用内容 -->
	<div class="container-fuild">
		<div class="container application">
			<img src="{$Think.lang.SRC_LAN}/application.jpg" class="banner"   alt="side channel blower application image" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/pro-nav" />
				</div>
				<div class="col-md-9 split">
					<h3 class="title-1">	{$Think.lang.APPLICATION_	CONTENT_TITLE}</h3>
					<p class="para-1">{$Think.lang.APPLICATION_	CONTENT}</p>
					<div class="row app-list">
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Punch collector"
								rel="{$Think.config.SRC_ROOT}/swfs/punchcollector.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/punchcollector.png"
							alt="side channel blower punch collector application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Punch collector" rel="{$Think.config.SRC_ROOT}/swfs/punchcollector.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_	PUNCH_COLLECTOR}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Sewing machine"
								rel="{$Think.config.SRC_ROOT}/swfs/sewingmachine.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/sewingmachine.png"
							alt="side channel blower sewing machine application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Sewing machine"
								rel="{$Think.config.SRC_ROOT}/swfs/sewingmachine.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_	SEWING_MACHINE}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Transfer" rel="{$Think.config.SRC_ROOT}/swfs/transfer.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/transfer.png"
							alt="side channel blower transfer application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Transfer" rel="{$Think.config.SRC_ROOT}/swfs/transfer.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_	TRANSFER}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Paper scrap"
								rel="{$Think.config.SRC_ROOT}/swfs/paperscrap.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/paperscrap.png"
							alt="side channel blower paper scrap application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Paper scrap"
								rel="{$Think.config.SRC_ROOT}/swfs/paperscrap.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_PAPER_SCRAP}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Waste gasses"
								rel="{$Think.config.SRC_ROOT}/swfs/wastegasses.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/wastegasses.png"
							alt="side channel blower waste gasses application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Waste gasses"
								rel="{$Think.config.SRC_ROOT}/swfs/wastegasses.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_WASTE_GASSES}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Med suction"
								rel="{$Think.config.SRC_ROOT}/swfs/medsuction.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/medsuction.png"
							alt="side channel blower med suction application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Med suction"
								rel="{$Think.config.SRC_ROOT}/swfs/medsuction.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_	MED_SUCTION}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Paper dryer"
								rel="{$Think.config.SRC_ROOT}/swfs/paperdryer.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/paperdryer.png"
							alt="side channel blower paper dryer application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Paper dryer"
								rel="{$Think.config.SRC_ROOT}/swfs/paperdryer.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_PAPER_DRYER}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Paper feeding machine"
								rel="{$Think.config.SRC_ROOT}/swfs/paperfeedingmachine.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/paperfeedingmachine.png"
							alt="side channel blower paper feeding machine application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Paper feeding machine"
								rel="{$Think.config.SRC_ROOT}/swfs/paperfeedingmachine.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_PAPER_FEEDING_MACHINE}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Paper holder"
								rel="{$Think.config.SRC_ROOT}/swfs/paperholder.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/paperholder.png"
							alt="side channel blower paper holder application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Paper holder"
								rel="{$Think.config.SRC_ROOT}/swfs/paperholder.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_	PAPER_HOLDER}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Vacuum transfer"
								rel="{$Think.config.SRC_ROOT}/swfs/vacuumtransfer.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/vacuumtransfer.png"
							alt="side channel blower vacuum transfer application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Vacuum transfer"
								rel="{$Think.config.SRC_ROOT}/swfs/vacuumtransfer.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_VACUUM_TRANSFER}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Powder transfer"
								rel="{$Think.config.SRC_ROOT}/swfs/powdertransfer.swf" class="flash link-1"><img
								src="{$Think.config.SRC_ROOT}/swfs/powdertransfer.png"
							alt="side channel blower powder transfer application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Powder transfer"
								rel="{$Think.config.SRC_ROOT}/swfs/powdertransfer.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_POWDER_TRANSFER}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Collector" rel="{$Think.config.SRC_ROOT}/swfs/collector.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/collector.png"
							alt="side channel blower Collector application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Collector" rel="{$Think.config.SRC_ROOT}/swfs/collector.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_COLLECTOR}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Sediment" rel="{$Think.config.SRC_ROOT}/swfs/sediment2.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/sediment2.png"
							alt="side channel blower Sediment application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Sediment" rel="{$Think.config.SRC_ROOT}/swfs/sediment2.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_SEDIMENT}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Ventilation" rel="{$Think.config.SRC_ROOT}/swfs/tunnels.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/tunnels.png"
							alt="side channel blower Ventilation application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Ventilation" rel="{$Think.config.SRC_ROOT}/swfs/tunnels.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_VENTILATION}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Textile" rel="{$Think.config.SRC_ROOT}/swfs/autoloom.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/autoloom.png"
							alt="side channel blower Textile application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Textile" rel="{$Think.config.SRC_ROOT}/swfs/autoloom.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_TEXTILE}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Bottling" rel="{$Think.config.SRC_ROOT}/swfs/bottling.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/bottling.png"
							alt="side channel blower Bottling application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Bottling" rel="{$Think.config.SRC_ROOT}/swfs/bottling.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_Bottling}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Electro facing"
								rel="{$Think.config.SRC_ROOT}/swfs/circulator.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/circulator.png"
							alt="side channel blower Electro facing application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Electro facing"
								rel="{$Think.config.SRC_ROOT}/swfs/circulator.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_ELECTRO_FACING}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Dryer" rel="{$Think.config.SRC_ROOT}/swfs/dryer.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/dryer.png"
							alt="side channel blower Dryer application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Dryer" rel="{$Think.config.SRC_ROOT}/swfs/dryer.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_Dryer}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Eliminator"
								rel="{$Think.config.SRC_ROOT}/swfs/eliminator.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/eliminator.png"
							alt="side channel blower Eliminator application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Eliminator"
								rel="{$Think.config.SRC_ROOT}/swfs/eliminator.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_ELIMINATOR}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Evaporator"
								rel="{$Think.config.SRC_ROOT}/swfs/evaporator.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/evaporator.png"
							alt="side channel blower Evaporator application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Evaporator"
								rel="{$Think.config.SRC_ROOT}/swfs/evaporator.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_EVAPORATOR}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Sock Knitting"
								rel="{$Think.config.SRC_ROOT}/swfs/sockloom.swf" class="flash"><img
								src="{$Think.config.SRC_ROOT}/swfs/sockloom.png"
							alt="side channel blower Sock Knitting application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Sock Knitting"
								rel="{$Think.config.SRC_ROOT}/swfs/sockloom.swf" class="flash link-1" id="align">
								{$Think.lang.APPLICATION_SOCK_KNITTING}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Pool & Psa" rel="{$Think.config.SRC_ROOT}/swfs/jacuzzi.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/jacuzzi.png"
							alt="side channel blower Pool & Psa application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Pool & Psa" rel="{$Think.config.SRC_ROOT}/swfs/jacuzzi.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_POOL&PSA}
							</a>
							</dd>
						</dl>
						<dl class="col-md-4">
							<dd>
							<a href="javascript:;" name="Hopper Loader" rel="{$Think.config.SRC_ROOT}/swfs/hopper.swf"
								class="flash"><img src="{$Think.config.SRC_ROOT}/swfs/hopper.png"
							alt="side channel blower Hopper Loader application" /></a>
							</dd>
							<dd>
							<a href="javascript:;" name="Hopper Loader" rel="{$Think.config.SRC_ROOT}/swfs/hopper.swf"
								class="flash link-1" id="align">
								{$Think.lang.APPLICATION_HOPPER_LOADER}
							</a>
							</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 应用内容end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/default" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>