<!doctype html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.DOWNLOAD_TITLE}</title>
		<meta name="keywords" content="{$Think.lang.DOWNLOAD_KEYWORDS}" />
		<meta name="description"content="{$Think.lang.DOWNLOAD_DESCRIPTION}" />
		<include file="../Public/css" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	</head>
	<include file="../Public/header" />
	<!-- 下载内容 -->
	<div class="container-fluid main">
		<div class="container download" >
			<img class="banner" src="{$Think.lang.SRC_LAN}/download_img.jpg"  alt="side channel blower Downloads"/>
			<div>
				<h5>
				<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
				<span>{$Think.lang.DOWNLOAD_COMPLETE_CATALOG}</span>
				</h5>
				<div class="row line">
					<a class="col-md-4" href="{$Think.lang.SRC_LAN}/Complete-Catalog.pdf" target="_blank">
						{$Think.lang.DOWNLOAD_2RB_4RB_BELT}
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<h5>
					<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
					{$Think.lang.DOWNLOAD_2RB_SERIES}
					</h5>
					<div class="row line">
						<a class="col-md-6" href="{$Think.lang.SRC_LAN}/2RB-1AC-P.pdf" target="_blank">2RB 1AC {$Think.lang.DOWNLOAD_PRESSURE_OPERATION}</a>
						<a class="col-md-6" href="{$Think.lang.SRC_LAN}/2RB-3AC-P.pdf" target="_blank">2RB 3AC {$Think.lang.DOWNLOAD_PRESSURE_OPERATION}</a>
					</div>
					<div class="row line">
						<a class="col-md-6"  href="{$Think.lang.SRC_LAN}/2RB-1AC-V.pdf" target="_blank">2RB 1AC {$Think.lang.DOWNLOAD_VACUUM__OPERATION}</a>
						<a class="col-md-6"  href="{$Think.lang.SRC_LAN}/2RB-3AC-V.pdf" target="_blank">2RB 3AC {$Think.lang.DOWNLOAD_VACUUM__OPERATION}</a>
					</div>
				</div>
				<div class="col-md-3">
					<h5>
					<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
					{$Think.lang.DOWNLOAD_3&4RB_SERIES}
					</h5>
					<div class="row line">
						<a class="col-md-12" href="{$Think.lang.SRC_LAN}/3RBAnd4RB.pdf" target="_blank">{$Think.lang.DOWNLOAD_3&4RB_SERIES}</a>
					</div>
				</div>
				<div class="col-md-4">
					<h5>
					<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
					{$Think.lang.DOWNLOAD_IE2_SERIES}
					</h5>
					<div class="row line">
						<a class="col-md-6" href="{$Think.lang.SRC_LAN}/2RB.pdf" target="_blank">{$Think.lang.DOWNLOAD_IE2_SERIES}</a>
					</div>
				</div>
			</div>
			<div class="row content">
				<h3 class="head-1">{$Think.lang.DOWNLOAD_DATA_SHEETS}</h3>
				<div class="col-md-6" >
					<h5>
					<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
					{$Think.lang.DOWNLOAD_2RB_DATA_SHEETS}
					</h5>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_010.pdf" target="_blank">2RB 010.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_110.pdf" target="_blank">2RB 110.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_210.pdf" target="_blank">2RB 210.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_220.pdf" target="_blank">2RB 220.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_230.pdf" target="_blank">2RB 230.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_310.pdf" target="_blank">2RB 310.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_320.pdf" target="_blank">2RB 320.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_330.pdf" target="_blank">2RB 330.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_410.pdf" target="_blank">2RB 410.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_420.pdf" target="_blank">2RB 420.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_430.pdf" target="_blank">2RB 430.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_490.pdf" target="_blank">2RB 490.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_510.pdf" target="_blank">2RB 510.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_520.pdf" target="_blank">2RB 520.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_530.pdf" target="_blank">2RB 530.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_590.pdf" target="_blank">2RB 590.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_610.pdf" target="_blank">2RB 610.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_630.pdf" target="_blank">2RB 630.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_710.pdf" target="_blank">2RB 710.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_720.pdf" target="_blank">2RB 720.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_730.pdf" target="_blank">2RB 730.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_740.pdf" target="_blank">2RB 740.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_790.pdf" target="_blank">2RB 790.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_810.pdf" target="_blank">2RB 810.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_820.pdf" target="_blank">2RB 820.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_830.pdf" target="_blank">2RB 830.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB_840.pdf" target="_blank">2RB 840.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_930.pdf" target="_blank">2RB 930.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_940.pdf" target="_blank">2RB 940.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB_943.pdf" target="_blank">2RB 943.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB210-IE2.pdf" target="_blank">2RB 210 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB220-IE2.pdf"  target="_blank">2RB 220 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB230-IE2.pdf"  target="_blank">2RB 230 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB310-IE2.pdf" target="_blank">2RB 310 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB320-IE2.pdf" target="_blank">2RB 320 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB330-IE2.pdf" target="_blank">2RB 330 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB410-IE2.pdf" target="_blank">2RB 410 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB420-IE2.pdf"  target="_blank">2RB 420 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB430-IE2.pdf" target="_blank">2RB 430 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB510-IE2.pdf" target="_blank">2RB 510 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB520-IE2.pdf" target="_blank">2RB 520 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB530-IE2.pdf" target="_blank">2RB 530 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB590-IE2.pdf" target="_blank">2RB 590 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB610-IE2.pdf" target="_blank">2RB 610 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB630-IE2.pdf" target="_blank">2RB 630 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB710-IE2.pdf" target="_blank">2RB 710 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB720-IE2.pdf" target="_blank">2RB 720 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB730-IE2.pdf" target="_blank">2RB 730 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB740-IE2.pdf" target="_blank">2RB 740 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB790-IE2.pdf" target="_blank">2RB 790 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB810-IE2.pdf" target="_blank">2RB 810 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB820-IE2.pdf" target="_blank">2RB 820 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB830-IE2.pdf" target="_blank">2RB 830 IE2.pdf</a>
						<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/2RB840-IE2.pdf" target="_blank">2RB 840 IE2.pdf</a>
					</div>
					<div class="row line">
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB930-IE2.pdf" target="_blank">2RB 930 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB940-IE2.pdf" target="_blank">2RB 940 IE2.pdf</a>
						<a class="col-md-3" href="{$Think.lang.SRC_LAN}/2RB943-IE2.pdf" target="_blank">2RB 943 IE2.pdf</a>
					</div>
					<div>
						<h5>
						<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
						{$Think.lang.DOWNLOAD_COVER_SUCTION_DATA_SHEETS}
						</h5>
						<div class="row line">
							<a class="col-md-3" href="{$Think.config.SRC_ROOT}/pdf/2RB210(B).pdf" target="_blank">2RB 210(B).pdf</a>
							<a class="col-md-3" href="{$Think.config.SRC_ROOT}/pdf/2RB410(B).pdf" target="_blank">2RB 410(B).pdf</a>
							<a class="col-md-3" href="{$Think.config.SRC_ROOT}/pdf/2RB510(B).pdf" target="_blank">2RB 510(B).pdf</a>
							<a class="col-md-3" href="{$Think.config.SRC_ROOT}/pdf/2RB710(B).pdf" target="_blank">2RB 710(B).pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-3" href="{$Think.config.SRC_ROOT}/pdf/side channel blower 2RB810(B).pdf" target="_blank">2RB 810(B).pdf</a>
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div>
						<h5>
						<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
						{$Think.lang.DOWNLOAD_3RB_DATA_SHEETS}
						</h5>
						<div class="row line">
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_350-1.pdf" target="_blank">3RB 350-1.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_350-2.pdf">3RB 350-2.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_350-3.pdf" target="_blank">3RB 350-3.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_550-1.pdf" target="_blank">3RB 550-1.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_550-2.pdf">3RB 550-2.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_550-3.pdf" target="_blank">3RB 550-3.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_750-1.pdf" target="_blank">3RB 750-1.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_750-2.pdf">3RB 750-2.pdf</a>
							<a class="col-md-4"  href="{$Think.lang.SRC_LAN}/3RB_750-3.pdf" target="_blank">3RB 750-3.pdf</a>
						</div>
					</div>
					<div>
						<h5>
						<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
						{$Think.lang.DOWNLOAD_4RB_DATA_SHEETS}
						</h5>
						<div class="row line">
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_210.pdf" target="_blank">4RB 210.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_220.pdf">4RB 220.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_310.pdf" target="_blank">4RB 310.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_320.pdf" target="_blank">4RB 320.pdf</a>
							
						</div>
						<div class="row line">
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_410.pdf" target="_blank">4RB 410.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_420.pdf">4RB 420.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_510.pdf" target="_blank">4RB 510.pdf</a>
							<a class="col-md-3"  href="{$Think.lang.SRC_LAN}/4RB_320.pdf" target="_blank">4RB 320.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_410.pdf" target="_blank">4RB 410.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_420.pdf">4RB 420.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_510.pdf" target="_blank">4RB 510.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_520.pdf" target="_blank">4RB 520.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_530.pdf" target="_blank">4RB 530.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_610.pdf">4RB 610.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_620.pdf" target="_blank">4RB 620.pdf</a>
							<a class="col-md-3" href="{$Think.lang.SRC_LAN}/4RB_630.pdf" target="_blank">4RB 630.pdf</a>
						</div>
					</div>
					<div>
						<h5>
						<span class="glyphicon  glyphicon-book" aria-hidden="true"></span>
						{$Think.lang.DOWNLOAD_2RB_BELT_DATA_SHEETS}
						</h5>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB213.pdf" target="_blank">2RB 213-1HY99.pdf</a>
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB223.pdf" target="_blank">2RB 223-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB233.pdf" target="_blank">2RB 233-1HY99.pdf</a>
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB413.pdf" target="_blank">2RB 413-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB423.pdf" target="_blank">2RB 423-1HY99.pdf</a>
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB433.pdf" target="_blank">2RB 433-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB513.pdf" target="_blank">2RB 513-1HY99.pdf</a>
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB523.pdf" target="_blank">2RB 523-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB533.pdf" target="_blank">2RB 533-1HY99.pdf</a>
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB613.pdf" target="_blank">2RB 613-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB713.pdf" target="_blank">2RB 713-1HY99.pdf</a>
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB723.pdf" target="_blank">2RB 723-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB733.pdf" target="_blank">2RB 733-1HY99.pdf</a>
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB743.pdf" target="_blank">2RB 743-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB813.pdf" target="_blank">2RB 813-1HY99.pdf</a>
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB823.pdf" target="_blank">2RB 823-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB833.pdf" target="_blank">2RB 833-1HY99.pdf</a>
							<a class="col-md-6"  href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB913.pdf" target="_blank">2RB 913-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB923.pdf" target="_blank">2RB 923-1HY99.pdf</a>
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB933.pdf" target="_blank">2RB 933-1HY99.pdf</a>
						</div>
						<div class="row line">
							<a class="col-md-6" href="{$Think.config.SRC_ROOT}/pdf/Belt_2RB943.pdf" target="_blank">2RB 943-1HY99.pdf</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 下载内容end -->
<include file="../Public/footer" />
<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/default" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>