<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
		<title>{$Think.lang.CERTIFICATE_TITLE}</title>
		<meta name="keywords" content="{$Think.lang.CERTIFICATE_KEYWORDS}" />
		<meta name="description" content="{$Think.lang.CERTIFICATE_DESCRIPTION}" />
		<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
		<include file="../Public/css" />
	</head>
	<include file="../Public/header" />
	<!-- 质量认证内容 -->
	<div class="container-fuild">
		<div class="container about">
			<img src="{$Think.config.IMG_ROOT}/about_banner.png"  class="banner" />
			<div class="row">
				<div class="col-md-3">
					<include file="../Public/about-nav" />
				</div>
				<div class="col-md-9  split">
					<h3 class="title-1">{$Think.lang.HEADER_CERTIFICATION} </h3>
					<div class="row cert-list">
						<div class="col-md-3">
							<a class="pic-item"  href="javascript:void(0)" data="{$Think.config.IMG_ROOT}/zhiliangrenzheng4.jpg"	title="ISO9001:2008 Certification">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng4_sub.jpg"	alt="ISO9001:2008 GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class="link-1">{$Think.lang.CERTIFICATE_ISO9001}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item"  href="javascript:void(0)"	data="{$Think.config.IMG_ROOT}/zhiliangrenzheng12.jpg" 	title="CE-LVD Certification">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng12_sub.jpg" alt="CE-LVD GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class=" link-1" >{$Think.lang.CERTIFICATE_CE_LVD}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item" href="javascript:void(0)" 	data="{$Think.config.IMG_ROOT}/zhiliangrenzheng10.png" 	title="CE-EMC Certification">
								<img	src="{$Think.config.IMG_ROOT}/zhiliangrenzheng10_sub.png"		alt="CE-EMC GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class=" link-1" data-pic-item-group="gallery">{$Think.lang.CERTIFICATE_CE_EMC}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item" href="javascript:void(0)" 	data="{$Think.config.IMG_ROOT}/zhiliangrenzheng5.jpg" title="<strong>ROHS Certification</strong>">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng5_sub.jpg"	alt="ROHS GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class=" link-1">{$Think.lang.CERTIFICATE_ROHS}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item" href="javascript:void(0)"	data="{$Think.config.IMG_ROOT}/zhiliangrenzheng3.jpg"	title="<strong>GSPC Certification</strong>">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng3_sub.jpg" alt="GSPC GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class=" link-1">{$Think.lang.CERTIFICATE_GSPC}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item"  href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/zhiliangrenzheng2.jpg"	title="<strong>Measurement Certification</strong>">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng2_sub.jpg"	alt="Measurement GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class=" link-1"	>{$Think.lang.CERTIFICATE_MEASUREMENT}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item" href="javascript:void(0)" data="{$Think.config.IMG_ROOT}/zhiliangrenzheng6.jpg"	title="<strong>Patent 1 Certification</strong>">
								<img	src="{$Think.config.IMG_ROOT}/zhiliangrenzheng6_sub.jpg"	alt="Patent GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class="pic-item link-1">{$Think.lang.CERTIFICATE_PATENT_1}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class="pic-item" href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/zhiliangrenzheng9.jpg"  title="<strong>Patent 2 Certification</strong>">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng9_sub.jpg" alt="Patent GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class="pic-item link-1">{$Think.lang.CERTIFICATE_PATENT_2}</a>
								</p>
							</a>
						</div>
						<div class="col-md-3">
							<a class=" pic-item" href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/zhiliangrenzheng11.jpg" 	title="<strong>Patent 3 Certification</strong>">
								<img src="{$Think.config.IMG_ROOT}/zhiliangrenzheng11_sub.jpg" 	alt="Patent GREENCO Side Channel Blower Certification" />
								<p>
									<a href="javascript:void(0)" class="link-1" >{$Think.lang.CERTIFICATE_PATENT_3}</a>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">&nbsp;</h4>
				</div>
				<div class="modal-body">
					<img id="mypic" style="width:100%" />
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
	<!-- 质量认证end -->
	<include file="../Public/footer" />
	<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/about" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>