<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
	<title>{$Think.lang.EQUIPMENTS_TITLE}</title>
	<meta name="keywords" content="{$Think.lang.EQUIPMENTS_KEYWORDS}" />
	<meta name="description" content="{$Think.lang.EQUIPMENTS_DESCRIPTION}" />
	<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	<include file="../Public/css" />
</head>
<include file="../Public/header" />

<!-- 质量认证内容 -->
<div class="container-fuild">
	<div class="container about">
		<img src="{$Think.config.IMG_ROOT}/about_banner.png"  class="banner" />
		<div class="row">
			<div class="col-md-3">
				<include file="../Public/about-nav" />
			</div>
			<div class="col-md-9 split">
				<h3 class="title-1">{$Think.lang.HEADER_EQUIPMENTS}</h3>
				<div class="row">
					<div class="eq-list content ">
						<div class="col-md-6" >
							<a class="pic-item"  href="javascript:void(0)"	data="{$Think.config.IMG_ROOT}/jifang1.jpg"	title="<strong>Sparepart Warehouse</strong>">
								<img src="{$Think.config.IMG_ROOT}/jifang1_sub.jpg" alt="Sparepart Warehouse GREENCO Side Channel Blower Equipments" />
								<p>
									<a class="link-1" href="#">{$Think.lang.EQUIPMENTS_SPAREPART_WAREHOUSE}</a>
								</p>
							</a>
							</div>
							<div class="col-md-6 Equipments_image">
								<a class="pic-item"  href="javascript:void(0)" 	data="{$Think.config.IMG_ROOT}/jifang2.jpg" 	title="<strong>Precision Production Line</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang2_sub.jpg"
									alt="Precision Production Line GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_PRECISION_PRODUCTION_LINE}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image"  >
									<a class="pic-item"  href="javascript:void(0)" data="{$Think.config.IMG_ROOT}/jifang3.jpg"
									title="<strong>Die Casting Workshop</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang3_sub.jpg"
									alt="Die Casting Workshop GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_DIE_CASTING_WORKSHOP}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image">
									<a class="pic-item"   href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang4.jpg"
									title="<strong>Assembling Line</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang4_sub.jpg"
									alt="Assembling Line GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_ASSEMBLING_LINE}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6"   >
									<a class="fancybox"  href="javascript:void(0)"   data="{$Think.config.IMG_ROOT}/jifang5.jpg"
									title="<strong>Carl Zeiss CMM</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang5_sub.jpg"
									alt="Q&C Department GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_CARL_ZEISS_CMM}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image">
									<a class="fancybox"  href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang6.jpg"
									title="<strong>Packing Line</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang6_sub.jpg"
									alt="Packing Line GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_PACKING_LINE}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image"  >
									<a class="fancybox"  href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang7.jpg"
									title="<strong>Shipping</strong>">
									<img
									src="{$Think.config.IMG_ROOT}/jifang7_sub.jpg"
									alt="Shipping GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_SHIPPING}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image">
									<a class="fancybox" href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang10.jpg"
									title="<strong>Outgoing Inspection</strong>"><img
									src="{$Think.config.IMG_ROOT}/jifang8_sub.jpg"
									alt="Outgoing Inspection GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_OUTGOING_INSPECTION}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image"  >
									<a class="fancybox" href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang11.jpg"
									title="<strong>AUTO motor winding</strong>"><img
									src="{$Think.config.IMG_ROOT}/jifang11_sub.jpg"
									alt="AUTO motor winding GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_AUTO_MOTOR_WINDING}</a>
									</p>
								</a>
								</div>
								<div class="col-md-6 Equipments_image">
									<a class="fancybox"  href="javascript:void(0)"  data="{$Think.config.IMG_ROOT}/jifang10.jpg"
									title="<strong>SCHNEEBERGER Grinder</strong>"><img
									src="{$Think.config.IMG_ROOT}/jifang10_sub.jpg"
									alt="SCHNEEBERGER Grinder GREENCO Side Channel Blower Equipments" />
									<p>
										<a class="link-1"  href="#">{$Think.lang.EQUIPMENTS_SCHNEEBERGER_GRINDER}</a>
									</p></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 质量认证end -->
		<div id="myModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">&nbsp;</h4>
					</div>
					<div class="modal-body">
						<img id="mypic" style="width:100%" src="{$Think.config.IMG_ROOT}/zhiliangrenzheng11.jpg" />
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>
		<include file="../Public/footer" />
		<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/about" src="{$Think.config.JS_ROOT}/require.js"></script>
	</body>
	</html>

