<!DOCTYPE html">
<html>
<head>
	<meta http-equiv="content-Type" content="text/html; charset=utf-8" />
	<title>{$Think.lang.HONOUR_TITLE}</title>
	<meta name="keywords"	content="{$Think.lang.HONOUR_KEYWORDS}" />
	<meta name="description"	content="{$Think.lang.HONOUR_DESCRIPTION}" />
	<link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
	<include file="../Public/css" />
</head>
<include file="../Public/header" />
<div class="container-fuild">
	<div class="container about">
		<img src="{$Think.config.IMG_ROOT}/about_banner.png"  class="banner" />
		<div class="row">
			<div class="col-md-3">
				<include file="../Public/about-nav" />
			</div>
			<div class="col-md-9  split">
				<h3 class="title-1">{$Think.lang.HEADER_HONOUR}</h3>
				<div class="honour-list">
					<div class="col-md-6 row">
						<img src="{$Think.config.IMG_ROOT}/honour1.jpg" alt="{$Think.lang.HONOUR_BRAND_PRODUCTS}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_BRAND_PRODUCTS}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour2.jpg" alt="{$Think.lang.HONOUR_TAXER}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_TAXER}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour7.jpg" alt="{$Think.lang.HONOUR_TECH ENTERPRISES}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_TECH ENTERPRISES}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour3.jpg" alt="{$Think.lang.HONOUR_TECHNOLOGY_CENTER}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_TECHNOLOGY_CENTER}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour6.jpg"
						alt="{$Think.lang.HONOUR_FAMOUS_TRADEMARK}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_FAMOUS_TRADEMARK}</a>
						</p>
					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour8.jpg" alt="{$Think.lang.HONOUR_R&D_Center}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_R&D_Center}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/honour4.jpg"
						alt="{$Think.lang.HONOUR_CREDIT_UNIT}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_CREDIT_UNIT}</a>
						</p>

					</div>
					<div class="col-md-6">
						<img src="{$Think.config.IMG_ROOT}/Honour5.jpg"	alt="{$Think.lang.HONOUR_ELECTRICAL_PRODUCTS}" />
						<p>
							<a class="link-1">{$Think.lang.HONOUR_ELECTRICAL_PRODUCTS}</a>
						</p>
					</div>
				</div>	
			</div>
		</div>

	</div>
</div>
<!-- 荣誉内容end -->

<include file="../Public/footer" />
<script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/about" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>

