<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8" />
    <title>{$Think.lang.VIDEO_TITLE}</title>
    <meta name="keywords" content="{$Think.lang.VIDEO_KEYWORDS}" />
    <meta name="description"content="{$Think.lang.VIDEO_DESCRIPTION}" />
    <link href="{$Think.config.IMG_ROOT}/favicon.ico" rel="shortcut icon"/>
    <include file="../Public/css" />
  </head>
  <include file="../Public/header" />
  <!-- 视频内容 -->
  <div class="container-fuild">
    <div class="container about" id="video">
      <img src="{$Think.config.IMG_ROOT}/about_banner.png"  class="banner" />
      <div class="row">
        <div class="col-md-3">
          <include file="../Public/about-nav" />
        </div>
        <div class="col-md-9 split">
          <h3 class="title-1">
            <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
            <span>{$Think.lang.VIDEO_SIDE_CHANNEL_BLOWERS_VIDEO}</span>
          </h3>
          <div class="content ">
            <div class="video">
              <div id="player"></div>
              <p>({$Think.lang.VIDEO_WORKSHOP_VIDEO})</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 视频内容end -->
  <include file="../Public/footer" />
  <input id="videoConfig" type="hidden"  root="{$Think.config.SRC_ROOT}"  >
  <script type="text/javascript"  data-main="{$Think.config.JS_ROOT}/video" src="{$Think.config.JS_ROOT}/require.js"></script>
</body>
</html>